<div id="body" class="body">
  <div class="container">
    <app-product
      *ngFor="let cloth of clothes"
      [product]="cloth">
    </app-product>
    <!-- <div id="item1" class="img">
      <div style="position: absolute; z-index: 15; background-color: rgb(255, 51, 0); margin: 10px 10px 10px 10px;">
        <p style="color: white; font-family: inherit; margin: 5px 5px 5px 5px;">30%</p>
      </div>
      <a href="grayTrousers.html">
        <img id="img1" src="clothing1.jpg" alt="The picture can not be shown" onmouseover="hoverImage1(this)" onmouseout="unhoverImage1(this)">
        <p>Gray chic trousers</p>
      </a>
      <p style="text-decoration: line-through; display: inline;">$80</p>
      <p style="color: rgb(255, 51, 0); display: inline;">$56</p>
    </div>
    <div id="item2" class="img">
      <img src="clothing2.jpg" alt="The picture can not be shown" onmouseover="hoverImage2(this)" onmouseout="unhoverImage2(this)">
      <p>Vintage sneakers</p>
      <p>$380</p>
    </div>
    <div id="item3" class="img">
      <img src="clothing3.jpg" alt="The picture can not be shown" onmouseover="hoverImage3(this)" onmouseout="unhoverImage3(this)">
      <p>Emerald watch</p>
      <p>$560</p>
    </div>
    <div id="item4" class="img">
      <img src="clothing4.jpg" alt="The picture can not be shown" onmouseover="hoverImage4(this)" onmouseout="unhoverImage4(this)">
      <p>Everyday small leather bag</p>
      <p>$260</p>
    </div>
    <div id="item5" class="img">
      <img src="clothing5.jpg" alt="The picture can not be shown" onmouseover="hoverImage5(this)" onmouseout="unhoverImage5(this)">
      <p>Black leather backpack</p>
      <p>$390</p>
    </div>
    <div id="item6" class="img">
      <img src="clothing6.jpg" alt="The picture can not be shown" onmouseover="hoverImage6(this)" onmouseout="unhoverImage6(this)">
      <p>Oh, yes. Sweatshirt</p>
      <p>$110</p>
    </div> -->
  </div>
</div>
