<body>
  <div id="body" class="body">
    <div id="item" class="container">
      <div class="aboutUs">
        <h1>About Us</h1>
        <p style="height: 500px; max-width: fit-content;">When you choose Pleure, you choose more than just clothing; you choose a commitment to quality, sustainability, and individuality. Join us on this fashion journey and become a part of a community that values authenticity and embraces personal style.</p>
      </div>
      <div class="img1"></div>
      <div style="margin: 1% 10% 0px 10%; border: thin solid #7261387c; box-shadow: 0 0px 15px #463b22;" >
        <h2>About Us</h2>
        <p>Welcome to Pleure, where fashion meets innovation and style meets authenticity. At Pleure, we're more than just a clothing brand; we're a lifestyle and a statement.</p>
        <h2>Our Story</h2>
        <p>Founded in 2023, Pleure was created out of a passion for fashion, a love for quality, and a dedication to sustainable practices. Our journey started with a small group of visionaries who aimed to revolutionize the way people perceive and experience clothing.</p>
        <h2>What We Believe In</h2>
        <p>At Pleure, we hold dear a set of values that steer our brand forward:</p>
        <ul>
          <li>Quality Craftsmanship: We take pride in crafting clothing that is not just beautiful but also built to last. Our attention to detail and commitment to quality ensures that each piece we create is an embodiment of excellence.</li>
          <li>Sustainability: We're committed to making a positive impact on the environment. We use eco-friendly materials and sustainable production practices to reduce our carbon footprint.</li>
          <li>Inclusivity: We believe that fashion should be for everyone, regardless of gender, age, or size. Our collections are designed to be inclusive and diverse.</li>
          <li>Customer Satisfaction: Your satisfaction is our priority. We strive to provide top-notch customer service and a seamless shopping experience.</li>
        </ul>
      </div>
    </div>
  </div>
</body>