<div class="container">
  <form id="body" class="body">
    <div>
      <p>Name</p>
      <input class="inputs" type="text" placeholder="Input name here..." required>
    </div>
    <div>
      <p>Surname</p>
      <input class="inputs" type="text" placeholder="Input surname here..." required>
    </div>
    <div>
      <p>Address</p>
      <input class="inputs" type="text" placeholder="Street name, city" required>
    </div>
    <div>
      <p>Phone number</p>
      <input class="inputs" type="tel" placeholder="+389********" required>
    </div>
    <div>
      <p>Sex</p>
      <input type="radio" name="radAnswer">
      <p style="color: #726138; display: inline; font-size: medium; font-weight: lighter;">Male</p>
      <input type="radio" name="radAnswer">
      <p style="color: #726138; display: inline; font-size: medium; font-weight: lighter;">Female</p>
      <input type="radio" name="radAnswer">
      <p style="color: #726138; display: inline; font-size: medium; font-weight: lighter;">Other</p>
    </div>
    <div>
      <p>Your impressions</p>
      <textarea cols="30" rows="10"></textarea>
    </div>
    <div>
      <input type="submit" value="Submit" class="button">
    </div>
  </form>
</div>