<body>
  <div id="preheader" class="preheader">
    <p class="discount">
      Fall collection discount! Free shipping for order over 99$!
    </p>
  </div>
  
  <header id="header" class="header">
    <div id="title" class="title">
      <a routerLink="/">
        <p>
          <i>Pleure</i>
        </p>
        <p style="font-size: small;">
          <i>all your wishes in one place</i>
        </p>
      </a>
    </div>
    <div id="main" class="main">
      <div id="search" style="border-bottom: thin solid #72613881;">
        <input type="search" class="searchInput" placeholder="Search for items...">
      </div>
      <div id="menu" class="menu">
        <a routerLink="clothes">
          <div id="clothes" class="categories underline">
            Clothes
          </div>
        </a>
        <a routerLink="home-items">
          <div id="homeItems" class="categories underline">
            Home Items
          </div>
        </a>
        <a routerLink="fragrances">
          <div id="fragrances" class="categories underline">
            Fragrances
          </div>
        </a>
        <a routerLink="contact-form">
          <div id="contactForm" class="categories underline">
            Contact form
          </div>
        </a>
        <a routerLink="about-us">
          <div class="categories underline">
            About Us
          </div>
        </a>
      </div>
    </div>
    <div id="icons" class="padding12px">
      <div id="login/register" style="display: flex; flex-direction: row; margin-top: 10px;">
        <p id="user">Login/Register</p>
      </div>
    </div>
  </header>
  
  <section>
    <router-outlet></router-outlet>
  </section>
  
  <footer id="footer" class="footer">
    <div id="about" class="footerBox">
      <p class="footerTitles">About Pleure</p>
      <p>About Us</p>
    </div>
    <div id="shipping" class="footerBox">
      <p class="footerTitles">Shipping</p>
      <p>Holiday Shipping</p>
      <p>Same-Day Delivery</p>
      <p>Phone Orders</p>
    </div>
    <div id="visitUs" class="footerBox">
      <p class="footerTitles">Visit Us</p>
      <div class="icons">
        <img src="../assets/images/location.png">
        <p>Store Locator</p>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1456.18507177359!2d21.407612883089982!3d42.00474600247106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354144347c06cb9%3A0x8176c642ff09aed6!2sFaculty%20of%20Electrical%20Engineering%20%26%20Information%20Technologies!5e0!3m2!1sen!2smk!4v1707771187761!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div id="clientCare" class="footerBox">
      <p class="footerTitles">Follow Us</p>
      <div class="icons">
        <img src="../assets/images/instagram.png">
        <p>Instagram</p>
      </div>
      <div class="icons">
        <img src="../assets/images/facebook.png">
        <p>Facebook</p>
      </div>
      <div class="icons">
        <img src="../assets/images/pinterest.png">
        <p>Pinterest</p>
      </div>
      <div class="icons">
        <img src="../assets/images/linkedin.png">
        <p>LinkedIn</p>
      </div>
    </div>
    <div id="newsletter" class="footerBox">
      <p class="footerTitles">Join Our Newsletter</p>
      <p style="color: #6d6b67; font-size: small; margin-bottom: 10px;">By signing up, you agree that your email address will be used only to send you marketing newsletters and information about Pleure, events and offers. You can unsubscribe at any time by clicking on the unsubscribe link in each newsletter.</p>
      <form>
        <input type="email" placeholder="Enter Your email address" required>
        <input type="submit" value="SIGN UP">
      </form>
    </div>
  </footer>  
</body>

