:host {
  display: block;
  height: 100vh;
  position: relative;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #72623cd3;
  border-radius: 8px;
  margin: 0px 10px 0px 10px;
  width: -webkit-fill-available;
  font-size: large; 
  font-family: 'Courier New', Courier, monospace;
}

.preheader {
  display: flex;
  justify-content: left;
  background-color: #72623cd3;
}
.discount {
  color: #fff0cd;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  position: relative;
  animation-name: preframe;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes preframe{
  0% {left: -20%;}
  100% {left: 100%;}
}

/* header css */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  outline: 0.5px solid #72613881;
  margin: 0px;
  padding: 6px 12px 6px 12px;
  font-family: 'Courier New', Courier, monospace;
  color: #726138;
}
.title {
  padding: 24px 24px 0px 0px;
  font-size: xx-large;
}
p {
  margin: 0px;
}
.main {
  flex-grow: 2;
  border-left: 0.5px solid #72613881;
  border-right: 0.5px solid #72613881;
  padding: 12px 12px 0px 12px;
}
.searchInput {    
  background: url(images/search.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: center;
  background-position-x: 5px;
  border: none;
  height: 30px;
  width: 100%;
  padding-left: 25px;   
}
.menu {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 24px 0px 24px;
  align-items: flex-end;
  position: relative;
}
.categories {
  font-weight: bolder;
  padding: 24px 24px 0px 24px;
  font-size: large;
}
.categories:hover {
  color: #c2a45f;
}
#heart:hover, #usr:hover, #list:hover {
  transform: scale(1.5);
}
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}
#signInDialog {
  border: thin solid #726138;
  border-radius: 6px;
}
a {
  text-decoration: none;
  color: inherit;
}

/* footer css */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: thin solid #72613852;
  margin: 0px 10% 0px 10%;
  padding: 10px 5px 20px 5px;
  font-family: 'Courier New', Courier, monospace;
}
.footerBox {
  width: 20%;
}
.footerTitles {
  margin-bottom: 10px;
  font-size: large;
}
.icons {
  display: flex; 
  flex-direction: row;
}
.icons img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}