.product {
  margin: 0px 20px 20px 20px;
  padding: 10px;
  border: thick solid #7261382a;
  text-align: center;
  height: 50vh;
  width: 25vh;
}

img {
  height: 85%;
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.product:hover {
  background-color: #72613852;
}

.description {
  height: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.p {
  color: #726138;
  font-family: inherit;
  font-weight: bolder;
  font-style: oblique;
}