<body>
  <div id="body" class="body">
    <div class="container">
      <app-product 
        *ngFor="let frag of fragrances"
        [product]="frag"
        ></app-product>
      <!-- <div id="item1" class="img">
        <div style="position: absolute; z-index: 15; margin: 10px 10px 10px 10px; font-size: x-large; font-weight: bold; background-color: #6d6b678e;">
          <p style="color: white; font-family: inherit;">New in</p>
        </div>
        <a href="si.html">
          <img id="img1" src="fragrances1.jpg" alt="The picture can not be shown" onmouseover="hoverImage1(this)" onmouseout="unhoverImage1(this)">
          <p>Smells like winter spirit</p>
        </a>
        <p>$220-$450</p>
      </div>
      <div id="item2" class="img">
        <img src="fragrances2.jpg" alt="The picture can not be shown" onmouseover="hoverImage2(this)" onmouseout="unhoverImage2(this)">
        <p>Injection</p>
        <p>$180</p>
      </div>
      <div id="item3" class="img">
        <img src="fragrances3.jpg" alt="The picture can not be shown" onmouseover="hoverImage3(this)" onmouseout="unhoverImage3(this)">
        <p>Wonderland</p>
        <p>$200</p>
      </div>
      <div id="item4" class="img">
        <img src="fragrances4.jpg" alt="The picture can not be shown" onmouseover="hoverImage4(this)" onmouseout="unhoverImage4(this)">
        <p>Dandelion</p>
        <p>$260</p>
      </div> -->
    </div>
  </div>
</body>