<body>
  <div id="body" class="body">
    <div id="op1" class="options">
      <!-- <a href="clothes/index.html"> -->
        <div id="op11">
          <h1>Winter Collection</h1>
          <p>This winter, redefine your style with our enchanting Winter Collection. Whether you're seeking cozy essentials for everyday wear or statement pieces for special occasions, our carefully curated selection has something for every fashionista.</p>
        </div>
      <!-- </a> -->
    </div>
    <div id="op2" class="options">
      <!-- <a href="fragrances/si.html"> -->
        <div id="op22">
          <h1>Essence of Elegance</h1>
          <p>Step into a world where each scent is a masterpiece, carefully crafted to evoke emotions and memories. Our fragrance collection is a symphony of olfactory delights, capturing the essence of sophistication and individuality.</p>
        </div>
      <!-- </a> -->
    </div>
    <div id="op3" class="options">
      <!-- <a href="homeItems/index.html"> -->
        <div id="op33">
          <h1>Live with style</h1>
          <p>Step into a realm of comfort and style as we introduce our meticulously curated Home Essentials Collection. From the heart of your home to the cozy corners of your personal space, each item has been thoughtfully chosen to enhance your daily living experience.</p>
        </div>
      <!-- </a> -->
    </div>
    <div id="op4" class="options" style="border-right: thin solid #7261383a;">
      <!-- <a href="aboutUs/index.html"> -->
        <div id="op44">
          <h1>About Pleure</h1>
          <p>Immerse yourself in a world of curated collections that transcend the ordinary, offering a seamless blend of fashion, fragrance, and home essentials.</p>
        </div>
      <!-- </a> -->
    </div>  
  </div>
  
</body>
